<not-available text="Gradients" [condition]="Empty"></not-available>
<loader [condition]="loaded"></loader>
<div class="gradients">
  <div class="content">
    <div
      class="gradient"
      @FadeIn
      *ngFor="let gradient of Gradients; let i = index"
    >
      <div class="btn-row">
        <button
          class="circle"
          *ngIf="checkFavourite(gradient.Colors) === false"
          (click)="addFavourite(gradient)"
        >
          <i class="far fa-heart"></i>
        </button>
        <button
          class="circle"
          *ngIf="checkFavourite(gradient.Colors)"
          (click)="removeFavourite(gradient._id)"
        >
          <i [ngStyle]="{ color: '#ff304f' }" class="fas fa-heart"></i>
        </button>
        <i
          class="fas fa-star"
          [ngStyle]="{ color: '#faee1c' }"
          *ngIf="i < 10"
        ></i>
      </div>
      <div class="display">
        <div
          class="circle"
          [ngStyle]="{ background: getBg(gradient.Direction, gradient.Colors) }"
        ></div>
      </div>
      <button
        (click)="
          onCopy(
            getBg(gradient.Direction, gradient.Colors),
            gradient._id,
            gradient.UserId
          )
        "
      >
        copy
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
