<div class="footer">
  <div class="footer-des">
    <div class="web-icon">
      <img src="../../assets/icon.png" alt="icon" />
      Colorgrad
    </div>
    <div class="description">
      ColorGrad is a website designed for web developers who struggle getting a
      good color or gradients
    </div>

    <div class="social-icons">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-facebook-messenger"></i></a>
      <a href="https://github.com/jitiendran" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
  <div class="bottom-nav">
    <div class="col">
      <div class="title">OTHER PROJECTS</div>
      <div class="content">
        <a href="https://lightspeed2021.herokuapp.com/" target="_blank"
          >LightSpeed</a
        >
        <a href="https://colorgrad.netlify.app/" target="_blank"
          >ColorGrad Old</a
        >
      </div>
    </div>
    <div class="col">
      <div class="title">NAVIGATIONS</div>
      <div class="content">
        <a routerLink="/">Home</a>
        <a routerLink="/colors">Colors</a>
        <a routerLink="/gradients">Gradients</a>
        <a routerLink="/leaderboard">Leaderboard</a>
      </div>
    </div>
    <div class="col">
      <div class="title">SUPPORT</div>
      <div class="in-grp">
        <input type="text" placeholder="Your email" />
        <button><mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </div>
</div>
<div class="copyrights">
  <i class="far fa-copyright"></i> {{ Date }} ColorGrad,Inc |
  <a href="https://github.com/jitiendran " target="_blank"
    >Developed by<img src="../../assets/jiji.jpeg" alt="me" />
  </a>
</div>
