<div class="colors">
  <div class="title">
    Colors
    <button (click)="onGo()">
      more
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="content">
    <div
      class="color"
      *ngFor="let color of popularColors"
      [ngStyle]="{ background: color.Colors }"
    >
      <div class="btn-row">
        <button class="circle" *ngIf="isLoggedIn">
          <i class="far fa-heart"></i>
        </button>
        <mat-icon class="float-right" [ngStyle]="{ color: '#f6d365' }"
          >star</mat-icon
        >
      </div>
      <div class="display">
        <button (click)="onCopy(color.Colors)">{{ color.Colors }}</button>
      </div>
    </div>
  </div>
</div>
