<div class="colors">
  <div class="title">
    Colors
    <button (click)="onGo()">
      more
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="content">
    <div
      class="color"
      *ngFor="let color of popularColors"
      [ngStyle]="{ background: color.Colors }"
    >
      <div class="btn-row">
        <button
          class="circle"
          *ngIf="isLoggedIn && !checkFavourite(color.Colors)"
          (click)="addFavourite(color)"
        >
          <i class="far fa-heart"></i>
        </button>
        <button
          class="circle"
          *ngIf="checkFavourite(color.Colors)"
          (click)="removeFavourite(color._id)"
        >
          <i [ngStyle]="{ color: '#ff304f' }" class="fas fa-heart"></i>
        </button>

        <i class="fas fa-star"></i>
      </div>
      <div class="display">
        <button (click)="onCopy(color.Colors, color._id, color.UserId)">
          {{ color.Colors }}
        </button>
      </div>
    </div>
  </div>
</div>
