<not-available text="Colors" [condition]="Empty"></not-available>
<loader [condition]="loaded"></loader>
<div class="colors">
  <div class="content">
    <div
      @FadeIn
      class="color"
      *ngFor="let color of Colors; let i = index"
      [ngStyle]="{ background: color.Colors }"
    >
      <div class="btn-row">
        <button
          class="circle"
          *ngIf="checkFavourite(color.Colors) === false"
          (click)="addFavourite(color)"
        >
          <i class="far fa-heart"></i>
        </button>
        <button
          class="circle"
          *ngIf="checkFavourite(color.Colors)"
          (click)="removeFavourite(color._id)"
        >
          <i [ngStyle]="{ color: '#ff304f' }" class="fas fa-heart"></i>
        </button>
        <i class="fas fa-star" *ngIf="i < 10"></i>
      </div>
      <div class="display">
        <button (click)="onCopy(color.Colors, color._id, color.UserId)">
          {{ color.Colors }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
