<nav>
  <div class="nav-header">
    <div class="nav-header web" (click)="goHome()">
      <div class="nav-header web icon">
        <img src="../../assets/icon.png" alt="web-icon" />
      </div>
      <div class="nav-header web title">ColorGrad</div>
    </div>
    <div class="nav-header navigations">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [ngStyle]="{ marginLeft: '1em' }"
        >Home</a
      >
      <a routerLink="/colors" routerLinkActive="active">Colors</a>
      <a routerLink="/gradients" routerLinkActive="active">Gradients</a>

      <div class="row" [ngStyle]="{ marginRight: '2.5em' }">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Favourites
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="goFavouriteColors()">
                Colors
              </button>
              <button ngbDropdownItem (click)="goFavouriteGradients()">
                Gradients
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" [ngStyle]="{ marginRight: '2.5em' }">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Contributions
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="goContributedColors()">
                Colors
              </button>
              <button ngbDropdownItem (click)="goContributedGradients()">
                Gradients
              </button>
            </div>
          </div>
        </div>
      </div>
      <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
    </div>
    <div class="nav-header auth" *ngIf="!tokenAvailable">
      <button type="button" class="btn btn-outline-primary" (click)="onLogin()">
        Login
      </button>
      <button type="button" class="btn btn-primary" (click)="onSignup()">
        Signup
      </button>
    </div>
    <div class="row" *ngIf="tokenAvailable == true">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <img class="profile-img" src="../../assets/jiji.jpeg" alt="" />
            {{ User?.Username }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onProfile()">Profile</button>
            <button ngbDropdownItem (click)="onLogout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
