<nav>
  <div class="nav-header">
    <div class="nav-header web">
      <div class="nav-header web icon">
        <img src="../../assets/icon.png" alt="web-icon" />
      </div>
      <div class="nav-header web title">ColorGrad</div>
    </div>
    <div class="nav-header navigations">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/colors" routerLinkActive="active">Colors</a>
      <a routerLink="/gradients" routerLinkActive="active">Gradients</a>
      <div class="row" [ngStyle]="{ marginRight: '3em' }">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Favourites
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Colors</button>
              <button ngbDropdownItem>Gradients</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Contributions
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Colors</button>
              <button ngbDropdownItem>Gradients</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-header auth">
      <button type="button" class="btn btn-outline-primary" (click)="onLogin()">
        Login
      </button>
      <button type="button" class="btn btn-primary" (click)="onSignup()">
        Signup
      </button>
    </div>
  </div>
</nav>
