@import "../shared/utilities/scss/font.scss";
@import "../shared/utilities/scss/variables.scss";
@import "../shared/utilities/scss/mixins.scss";

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0.5em 1em;
  background: #fff;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  font-family: "Roboto", sans-serif;

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.web {
      @include row;
      gap: 0.45em;
      cursor: pointer;
      &.title {
        font-size: 1.3em;
        font-weight: 500;
      }
      &.icon {
        width: 2.5em;
        height: 2.5em;
        img {
          width: 100%;
        }
      }
    }

    &.navigations {
      display: flex;
      align-items: center;
      a {
        font-size: 1.2em;
        margin-right: 3em;
        color: $black;
        text-decoration: none;
      }
      .active {
        border-bottom: 2.5px solid $primary_color;
      }
    }

    &.auth {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

.profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
