<div class="signup">
  <div class="wrapper" @Above>
    <div class="img"></div>
    <div class="content">
      <h3>Signup</h3>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard" class="form">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="Username" required />
          <mat-error *ngIf="signupForm.get('Username')?.invalid"
            >Username required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="standard" class="form">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="Email" required />
          <mat-error *ngIf="signupForm.get('Email')?.invalid"
            >Valid Email required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="standard" class="form">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="Password" required />
          <mat-error *ngIf="signupForm.get('Password')?.invalid"
            >Password required</mat-error
          >
        </mat-form-field>
        <button
          type="submit"
          class="btn btn-primary"
          [ngStyle]="{ width: '100%' }"
        >
          Login
        </button>
        <div class="hr"></div>
        <div class="auth-msg">
          Already have an account
          <a routerLink="/login">signin</a>
        </div>
      </form>
    </div>
  </div>
</div>
