<not-available text="Friends" [condition]="Empty"></not-available>
<div class="following">
  <div class="user" *ngFor="let following of Following">
    <img
      src="{{ following?.Profile || '../../../../../assets/user.jpeg' }}"
      alt="Profile"
      class="profile"
    />
    <div class="content">
      <div class="Name" (click)="onUser(following._id)">
        {{ following.Username }}
      </div>
      <div class="Email">{{ following.Email }}</div>
    </div>
    <button
      class="btn btn-outline-primary"
      *ngIf="!checkMe(following?._id) && checkUser(following?._id)"
      (click)="onUnfollow(following?._id)"
    >
      unfollow
    </button>
    <button
      class="btn btn-primary"
      *ngIf="!checkMe(following?._id) && !checkUser(following?._id)"
      (click)="onFollow(following?._id)"
    >
      follow
    </button>
  </div>
</div>
