@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@mixin row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  margin-top: -4em;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
  @include row;
  box-sizing: border-box;
  gap: 1em;
  position: fixed;
  background: #fff;
  z-index: 20;
  .shape {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    animation-name: changeShape;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  .text {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    color: #303a52;
  }
}

@keyframes changeShape {
  0% {
    border-radius: 0%;
  }
  20% {
    border-radius: 10%;
  }
  40% {
    border-radius: 25%;
  }
  60% {
    border-radius: 35%;
  }
  80% {
    border-radius: 45%;
  }
  100% {
    border-radius: 50%;
  }
}
