<div class="profile">
  <div class="profile-model">
    <div class="profile-img">
      <img
        src="{{ User?.Profile || '../../../../assets/user.jpeg' }}"
        alt="Profile"
      />
      <div class="profile-btn" *ngIf="itsMe"><i class="fas fa-pen"></i></div>
      <div class="row1">
        <div class="name">{{ User?.Username }}</div>
        <div
          class="title"
          [ngStyle]="{ background: getBackground(User?.Rating) }"
        >
          {{ getTitle(User?.Rating) }}
        </div>
      </div>
      <div class="email">{{ User?.Email }}</div>
      <button class="edit-btn" *ngIf="itsMe">Edit Profile</button>
      <div class="friends">
        <i class="fas fa-user-friends"></i>
        <button>
          <span>{{ User?.Followers.length }}</span> followers
        </button>
        .
        <button>
          <span>{{ User?.Following.length }}</span> following
        </button>
      </div>
      <div class="social" *ngIf="User?.LinkedinProfile">
        <div class="row">
          <i class="fab fa-linkedin"></i> <a href="#">jitiendran1234</a>
        </div>
        <div class="row">
          <i class="fab fa-github"></i> <a href="#">jitiendran</a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav">
    <mat-tab-group class="tab">
      <mat-tab label="Overview">
        <app-overview [UserDetails]="User"></app-overview>
      </mat-tab>
      <mat-tab label="Colors">
        <app-user-colors></app-user-colors>
      </mat-tab>
      <mat-tab label="Gradients">
        <app-user-gradients></app-user-gradients>
      </mat-tab>
      <mat-tab label="Followers">
        <app-followers></app-followers>
      </mat-tab>
      <mat-tab label="Following">
        <app-following></app-following>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
