<div class="rating">
  <div class="title">Rating</div>
  <div class="content">
    <div class="wrap">
      <h3>SILVER</h3>
      <div class="badge silver">
        <div class="circle silver">&#8544;</div>
      </div>
      <div class="badge silver">
        <div class="circle silver">&#8545;</div>
      </div>
      <div class="badge silver">
        <div class="circle silver">&#8546;</div>
      </div>
      <div class="badge silver">
        <div class="circle silver">&#8547;</div>
      </div>
      <div class="badge silver">
        <div class="circle silver">&#8548;</div>
      </div>
    </div>
    <div class="wrap">
      <h3>GOLD</h3>
      <div class="badge gold">
        <div class="circle gold">&#8544;</div>
      </div>
      <div class="badge gold">
        <div class="circle gold">&#8545;</div>
      </div>
      <div class="badge gold">
        <div class="circle gold">&#8546;</div>
      </div>
      <div class="badge gold">
        <div class="circle gold">&#8547;</div>
      </div>
      <div class="badge gold">
        <div class="circle gold">&#8548;</div>
      </div>
    </div>

    <div class="wrap">
      <h3>OCEAN</h3>
      <div class="badge blue">
        <div class="circle blue">&#8544;</div>
      </div>
      <div class="badge blue">
        <div class="circle blue">&#8545;</div>
      </div>
      <div class="badge blue">
        <div class="circle blue">&#8546;</div>
      </div>
      <div class="badge blue">
        <div class="circle blue">&#8547;</div>
      </div>
      <div class="badge blue">
        <div class="circle blue">&#8548;</div>
      </div>
    </div>

    <div class="wrap">
      <h3>EMERALD</h3>
      <div class="badge green">
        <div class="circle green">&#8544;</div>
      </div>
      <div class="badge green">
        <div class="circle green">&#8545;</div>
      </div>
      <div class="badge green">
        <div class="circle green">&#8546;</div>
      </div>
      <div class="badge green">
        <div class="circle green">&#8547;</div>
      </div>
    </div>

    <div class="wrap">
      <h3>MASTER</h3>
      <div class="badge pink">
        <div class="circle pink">&#8544;</div>
      </div>
      <div class="badge pink">
        <div class="circle pink">&#8545;</div>
      </div>
      <div class="badge pink">
        <div class="circle pink">&#8546;</div>
      </div>
    </div>

    <div class="wrap">
      <h3>LEGENDARY MASTER</h3>
      <div class="badge purple">
        <div class="circle purple">&#8544;</div>
      </div>
      <div class="badge purple">
        <div class="circle purple">&#8545;</div>
      </div>
    </div>

    <div class="wrap">
      <h3>GRAND MASTER</h3>
      <div class="badge red">
        <div class="circle red">
          <mat-icon>star</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
